upstream {{ INSTANCE_NAME }}-production {
    server 127.0.0.1:{{ SERVER_PORT }};
}

server {
    server_name  www.{{ SERVER_NAME }};
    rewrite ^(.*) http://{{ SERVER_NAME }}$1 permanent;
}

server {
        listen   80;
        server_name  {{ SERVER_NAME }};

        access_log  /var/log/nginx/{{ SERVER_NAME }}.access.log;
        error_log  /var/log/nginx/{{ SERVER_NAME }}.error.log;

        gzip_types text/plain text/xml text/css application/javascript application/x-javascript application/json;

        location / {
            include nginx_proxy_settings.conf
        }
        location = /favicon.ico {
            alias  {{ INSTANCE_STATIC_DIR }}/static/favicon.ico;
            expires  7d;
            add_header Cache-Control public;
            access_log off;
        }

        location /static {
            root   {{ INSTANCE_STATIC_DIR }};
            expires  7d;
            add_header Cache-Control public;
            access_log off;
        }

        error_page  404  /404.html;
        error_page 500 502 503 504 /static/pages/working.html;
}
